Pods/Pods.xcodeproj/xcuserdata/patrickgoley.xcuserdatad/xcschemes/Pods-FastImageCache.xcscheme
Pods/Pods.xcodeproj/xcuserdata/patrickgoley.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/patrickgoley.xcuserdatad/xcschemes/xcschememanagement.plist
Sequence.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Sequence.xcodeproj/project.xcworkspace/xcshareddata/Sequence.xccheckout
Sequence.xcodeproj/project.xcworkspace/xcuserdata/patrickgoley.xcuserdatad/UserInterfaceState.xcuserstate
Sequence.xcodeproj/xcuserdata/patrickgoley.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Sequence.xcodeproj/xcuserdata/patrickgoley.xcuserdatad/xcschemes/Mogenerator.xcscheme
Sequence.xcodeproj/xcuserdata/patrickgoley.xcuserdatad/xcschemes/Sequence.xcscheme
Sequence.xcodeproj/xcuserdata/patrickgoley.xcuserdatad/xcschemes/xcschememanagement.plist
Sequence.xcworkspace/contents.xcworkspacedata
Sequence.xcworkspace/xcshareddata/Sequence.xccheckout
Sequence.xcworkspace/xcuserdata/patrickgoley.xcuserdatad/UserInterfaceState.xcuserstate
Sequence.xcworkspace/xcuserdata/patrickgoley.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
